@model IEnumerable<Address>
@{
    ViewData["Title"] = "GetAll";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Addresess</h2>
        </div>
        <div class="col-6 text-end">
            
        </div>
    </div>
</div>
<br />
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                City
            </th>
            <th>
                Street
            </th>
            <th>
                Postcode
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.City
                </td>
                <td width="30%">
                    @obj.Street
                </td>
                <td width="20%">
                    @obj.PostalCode
                </td>
            </tr>
        }
    </tbody>
</table>
