@model GastroFaza.Models.Order
@using GastroFaza.Models.Enum
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <h2>Edit Order</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-dark"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Status" class="control-label text-light"></label>
                    <select asp-for="Status" class="select_list" asp-items="Html.GetEnumSelectList<Status>()"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label text-light"></label>
                    <input asp-for="Description" class="edit_profile_input" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label text-light"></label>
                    <input asp-for="Price" class="edit_profile_input" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddedById" class="control-label text-light"></label>
                    <input asp-for="AddedById" class="edit_profile_input" />
                    <span asp-validation-for="AddedById" class="text-danger"></span>
                </div>
            
                <div class="btn-group">
                    <div class="form-group"style="padding: 10px;">
                        <input type="submit" value="Save" class="btn btn-primary addToOrderButton" />
                    </div>
                    <div style="padding: 10px;">
                        <a href='@Url.Action("GetAllOrders", "Order")' class="btn btn-primary addToOrderButton">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
