@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "PayForOrder";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Payment Successfull, your order is being prepared</h2>
                <a href='@Url.Action("Order", "Order")' class="btn btn-primary">Return to menu</a>
            </div>
            <div class="col-6 text-end">
            </div>
        </div>
    </div>
</body>
