@model User
@{
    ViewData["Title"] = "Register";
}

<h3>Register Account</h3>
<form method="post" action="@Url.Action("registerClient", "Account")">
    <table border="0" cellpadding="2" cellspacing="2">
        <tr>
            <div asp-validation-summary="All"></div>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" class="form-control"></td>
            <td></td>
        </tr>   
        <tr>
            <td>Password</td>
            <td><input type="password" class="form-control" name="password"></td>
        </tr>
        <tr>
            <td>ConfirmPassword</td>
            <td><input type="password" name="confirmPassword" class="form-control"></td>
        </tr>


        <tr>
            <td><label asp-for="FirstName"></label></td>
            <td><input asp-for="FirstName" class="form-control" /></td>

        </tr>
        <tr>
            <td><label asp-for="LastName"></label></td>
            <td><input asp-for="LastName" class="form-control" /></td>

        </tr>

        <tr>
            <td><label asp-for="Nationality"></label></td>
            <td><input asp-for="Nationality" class="form-control" /></td>

        </tr>
        <tr>
           <td><label asp-for="DateOfBirth"></label></td>
            <td><input asp-for="DateOfBirth" class="form-control" /></td>

        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Register"></td>
        </tr>
    </table>
</form>

