@model User
@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body class="loginbody">
    <form class="registerbox" method="post" action="@Url.Action("registerClient", "Account")">
        
            <h1>Register</h1>
            <section class="rejestracja">
                <div asp-validation-summary="All"></div>
                <label class="text-light" asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <div class="text-light">Password</div>
                <input type="password" class="form-control" name="password">
           </section>

            <section class="rejestracja">
                <div class="text-light">ConfirmPassword</div>
                <input type="password" name="confirmPassword" class="form-control">

                <label class="text-light" asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
            </section>

            <section class="rejestracja">
                <label class="text-light" asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />

                <label class="text-light" asp-for="Nationality"></label>
                <input asp-for="Nationality" class="form-control" />
            </section>

            <section class="rejestracja">
                <label class="text-light" asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" />

                <td>&nbsp;</td>
                <td><input type="submit" value="Register"></td>
            </section>
    </form>
</body>

