@model GastroFaza.Models.DTO.PictureDto
@{
    ViewData["Title"] = "SelectPicture";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <h2 class="profile_h2">SelectPicture</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form class="edit_profile" asp-controller="Account" asp-action="SelectPicture" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="selectpicture">
                    <label asp-for="PathPic" class="control-label text-light"></label>
                    <input asp-for="PathPic"  />
                    <span asp-validation-for="PathPic" class="text-danger"></span>
                </div>
                <br />

                <div class="btn-group">
                    <div>
                        <input type="submit" value="Save" class="editProfileButton" />
                    </div>
                    <div style="margin:11px">
                        <a href='@Url.Action("Profile", "Account")' class="editProfileButton">Back</a>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <br />
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
