@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Welcome";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>

<body>
    <div class="text-center">
        @if(@ViewBag.username!=null){
            @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") != "true")
            {
                <h2>Welcome @ViewBag.username</h2>
            } else
            {
                <h2>Welcome Worker @ViewBag.username</h2>
            }
            <a class="addOrderButton" asp-controller="Account" asp-action="Logout">Logout</a>
        }
        else {
            <h2>Registration Correct</h2>
            <a class="addOrderButton" asp-controller="Account" asp-action="Login">Login</a>
        }
    
   
    </div>
</body>
