@model GastroFaza.Models.Restaurant

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2>Edit Restaurant</h2>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label text-light"></label>
                    <input asp-for="Name" class="edit_profile_input" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label text-light"></label>
                    <input asp-for="Description" class="edit_profile_input" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div><br/>
                <div class="form-group form-check">
                    <label class="form-check-label text-light">
                        <input class="form-check-input" asp-for="HasDelivery" /> @Html.DisplayNameFor(model => model.HasDelivery)
                    </label>
                </div><br/>
                <div class="form-group">
                    <label asp-for="ContactEmail" class="control-label text-light"></label>
                    <input asp-for="ContactEmail" class="edit_profile_input " />
                    <span asp-validation-for="ContactEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactNumber" class="control-label text-light"></label>
                    <input asp-for="ContactNumber" class="edit_profile_input" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
                <div class="btn-group">
                    <div class="form-group"style="padding: 10px;">
                        <input type="submit" value="Save" class="btn btn-primary addToOrderButton" />
                    </div>
                    <div style="padding: 10px;">
                        <a href='@Url.Action("RestaurantDetails", "Restaurant")' class="btn btn-primary addToOrderButton">Back</a>
                    </div>
                </div>


            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
