.rating {
    transform:  rotateY(180deg);
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating_res {
    content: '\f005';
    font-family: fontAwesome;
    font-size: 20px;
    color: #919aa1;
    opacity: 1;
}

.rating_empty {
    content: '\f005';
    font-family: fontAwesome;
    font-size: 20px;
    color: #101010;
    opacity: 1;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    font-size: 50px;
    color: #101010;
    
}
.rating label:after {
        content: '\f005';
        font-family: fontAwesome;
        position: absolute;
        display: block;
        font-size: 50px;
        color: #919aa1;
        top: 0;
        opacity: 0;
        transition: .5s;
   }
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
    opacity: 1
}
