body {
    background-color: #211A1D;
    margin-bottom: 100px;
}
body h2{
    font-size:xx-large;
    color:whitesmoke;
}
.table {
    background-color: white;
    font-family: Andele Mono, monospace;
    font-weight: 900;
    border: 2px solid white;
    padding: 10px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    width: 100%;
    color: white;
}
thead {
    color: white;
    background-color: #211A1D;
    border-color: white;
}
tbody {
    color: #211A1D;
}
ul {
    list-style: none;
}
.index {
    display: flex;
}
.index li {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    border-color: #292929;
}
.loginbody{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.loginbox {
    width: auto;
    padding: 10px;
    position: absolute;
    margin-top: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    border: 20px;
    background: white;
    text-align: center;
}
.registerbox {
    width: auto;
    padding: 10px;
    position: absolute;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 20px;
    border-radius: 2px;
    background: white;
    text-align: center;
}
.loginbox h1{
    color: black;
    text-transform:uppercase;
    font-weight: 500;
}
.registerbox h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
.loginbox input[type ="text"],
.loginbox input[type ="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    height: 30px;
    text-align: center;
    border: 2px solid #FF7F27;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
.registerbox input[type ="text"],
.registerbox input[type ="password"],
.registerbox input[type ="datetime-local"],
.registerbox select {
    border: 0;
    height: 30px;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #FF7F27;
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: black;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.loginbox input[type ="text"]:hover,
.loginbox input[type ="password"]:hover {
    background-color: #FF7F27;
}
.registerbox input[type ="text"]:hover,
.registerbox input[type ="password"]:hover,
.registerbox input[type ="datetime-local"]:hover {
    background: #FF7F27;
    background-color: #FF7F27;
}
.loginbox input[type ="text"]:focus,
loginbox input[type ="password"]:focus {
    border-color: #FF7F27;
    background-color: #FF7F27;
}
.registerbox input[type ="text"]:focus,
.registerbox input[type ="password"]:focus,
.registerbox input[type ="datetime-local"] {
    border-color: #FF7F27;
}
.loginbox input[type = "submit"] {
    border: 0;
    background: none;
    height: 30px;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 3px 20px;
    outline: none;
    color: black;
    border-radius: 4px;
    transition: 0.5s;
    width: 220px;
    cursor: pointer;    
}
.registerbox input[type = "submit"] {
    border: 0;
    background: none;
    height: 30px;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 3px 20px;
    outline: none;
    color: black;
    border-radius: 4px;
    transition: 0.5s;
    width: 280px;
    cursor: pointer;
}
.recaptch {
    display: block;
    margin-left:60px;
}
.loginbox input[type = "submit"]:hover {
    background: #2ecc71;
    box-shadow: 0 0 5px 5px #2ecc71;
    color: white;
}
.registerbox input[type = "submit"]:hover {
    background: #2ecc71;
    box-shadow: 0 0 5px 5px #2ecc71;
    color: white;
}
.menu_buttons {
    border: 2px;
    background: #2ecc71;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    height: 25px;
    width: 30px;
    display: block;
    margin: 5px auto;
    text-align: center;
    text-align-last: center;
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    width: 100px;
    cursor: pointer;
}
.profile div {
    color:#FDFFFC;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;
}
.profile_h2 {
    color: #FDFFFC;
    font-size:xx-large;
}
.profile_button {
    border-radius: 5px;
    border-color: #216869;
    background-color: #63595C;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 8px;
    color: #FDFFFC;
}
.profile_button:hover{
    background-color: #216869;
    transition:0.5s;
    color:#FDFFFC;
}
.edit_profile_input {
    background-color: #211A1D;
    height: 40px;
    display: block;
    text-align: center;
    border: 2px solid #FF7F27;
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.register_phone {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.edit_profile input[type ="text"]:hover,
.edit_profile input[type ="password"]:hover,
.edit_profile input[type ="datetime-local"]:hover {
    transition: 0.5s;
    background: #FF7F27;
    background-color: #FF7F27;
}
.edit_profile_save_button {
    border-radius: 5px;
    border:hidden;
    background-color: #63595C;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 8px;
    color: #FDFFFC;
}
.edit_profile_save_button:hover{
    background-color:#2ecc71;
    transition:0.5s;
}
.edit_profile_back_button {
    border-radius: 5px;
    background-color: #63595C;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 8px;
    color: #FDFFFC;
}
.edit_profile_back_button:hover {
    background-color: red;
    transition: 0.5s;
}
.add_to_order_button {
    width: 100px;
    height: 100px;
    background-color: #63595C;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
.confirm_order_button {
    width: 100px;
    height: 100px;
    background-color: #63595C;
    border-radius:4px;
    padding: 10px;
    text-decoration: none;
}
.add_to_order_button:hover {
    transition: 0.5s;
    background-color: #216869;
}

.confirm_order_button:hover {
    transition: 0.5s;
    background-color: #216869;
}
.remove_from_order_button{
    text-decoration:none;
    width:auto;
    height:auto;
    border: solid 1px black;
    border-radius: 4px;
    color:white;
}
.remove_from_order_button:hover {
    transition:0.5s;
    background-color:red;
    color:black;
}
.meal_button{
    background-color:aquamarine;
}
.main {
    height: 100vh;
    position: relative;
    padding: 1%;
}
.backwideo {
    width:100%;
    height: auto;
    position: absolute;
    margin-left:-1%;
    z-index: -1;
}
.content{
    text-align:center;
}
.content h1{
    width:100%;
    margin-top:100px;
    font-size:xx-large;
    font-size:70px;
    color: #fff;
    font-weight:600;
}
.indexbody {
    background-color: #2D3A3A;
}
.indexbutton{
    width:100px;
    height:50px;
    text-decoration:none;
    background:none;
    border: solid 3px;
    border-radius: 24px;
    border-color:white;    
    color:white;
}
.indexbutton:hover {
    transition:0.5s;
    background-color:white;
    border-color:#2D3A3A;
    color:#2D3A3A;
}
.selectpicture {
    background-color: #AB8476;
}
.select_list {
    background-color: #211A1D;
    height: 40px;
    display: block;
    text-align: center;
    border: 2px solid #216869;
    width: 280px;
    outline: none;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    display: contents;
    color: white;
}
.registerbox .select_list_nationality {
    background-color: white;
    height: 30px;
    display: block;
    margin-right: 67px;
    text-align: center;
    border: 2px solid #FF7F27;
    width: 280px;
    outline: none;
    color: black;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 70px;
}
.registerbox .select_list_nationality option {   
    color:black;
    cursor:pointer;
}
.registerbox .select_list_register {
    background-color: white;
    height: 30px;
    display: block;
    margin-right:67px;
    text-align: center;
    border: 2px solid #FF7F27;
    width: 280px;
    outline: none;
    color: black;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 70px;
}
.select_list {
    background-color: #211A1D;
    height: 40px;
    display: block;
    text-align: center;
    border: 2px solid #FF7F27;
    width: 280px;
    outline: none;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
.add_reservation_button {
    border-radius: 5px;
    border-color: #216869;
    background-color: #63595C;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 8px;
    color: #FDFFFC;
    height:70px;
    text-align:center;
}

.add_reservation_button:hover {
    background-color: #216869;
    transition: 0.5s;
    color: #FDFFFC;
}

/***************************************************/
.menuDishBoxOut{
    width: 100%;
    margin-top:2vw;
}
.menuDishBoxIn{
    display:flex;
}
.menuPictureBox {
    padding: 2vw;
    border-radius: 2px;
    background-color: #FF7F27;
}
.menuPictureBox:hover {
    transition:0.5s;
    box-shadow:0 0 3px 3px white;
}
.menuDishDescryptionHeadline{
    color: white;
    margin-left:1vw;
}
.menuDishDescryptionBody {
    color: white;
    margin-left: 1vw;
}
.backButton {
    background-color: #FF7F27;
    width: auto;
    height: auto;
    padding: 10px;
    text-decoration: none;
    font-size: large;
    color: white;
}
.backButton:hover{
    background-color:white;
    color:#211A1D;
    transition:0.5s;
    box-shadow:0 0 5px 5px #FF7F27;
}
.addToOrderButton {
    color: white;
    text-decoration: none;
    margin: 1vw;
    background-color: #211A1D;
    border: solid 2px #FF7F27;
    padding: 10px;
    margin-top: 20px;
}
.addToOrderButton:hover {
    background-color:#FF7F27;
    color:white;
    transition:0.5s;
}
.addOrderButton {
    background-color: #FF7F27;
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 1vw;
    font-size: large;
    border:none;
}
.addOrderButton:hover {
    background-color:white;
    color:#211A1D;
    transition:0.5s;
    box-shadow:0 0 5px 5px #FF7F27;
}
.confirmOrderButton {
    color: white;
    text-decoration: none;
    margin: 1vw;
    border: solid 2px #FF7F27;
    padding: 10px;    
}
.confirmOrderButton:hover {
    background-color:#FF7F27;
    color:white;
    transition:0.5s;
}
.removeFromOrderButton {
    color: white;
    text-decoration: none;
    margin: 1vw;
    border: solid 2px #941408;
    padding: 10px;
}
.removeFromOrderButton:hover{
    background-color:#941408;
    color:white;
    transition:0.5s;
}
.editButton {
    color: white;
    text-decoration: none;
    border: solid 2px #211A1D;
    background-color: #211A1D;
    margin: 1vw;
    border-radius: 2px;
}
.editButton:hover{
    background-color:white;
    color:#211A1D;
    transition:0.5s;
}
.deleteButton {
    color: white;
    text-decoration: none;
    background-color: #941408;
    border: solid 2px #941408;
    padding: 1px;
    border-radius: 2px;
}
.deleteButton:hover{
    background-color:white;
    color:#941408;
    transition:0.5s;
}
.editProfileButton {
    background-color: #211A1D;
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: large;
    border: solid 2px #FF7F27;
}
.editProfileButton:hover{
    background-color:#FF7F27;
    color:white;
    transition:0.5s;
}
.resetPasswordButton {
    background-color: #211A1D;
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: large;
    border: solid 2px #FF7F27;
}
.resetPasswordButton:hover{
    background-color:#FF7F27;
    color:white;
    transition:0.5s;
}
.selectPictureButton {
    background-color: #211A1D;
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: large;
    border: solid 2px #FF7F27;
}
.selectPictureButton:hover {
    background-color: #FF7F27;
    color: white;
    transition: 0.5s;
}
.clearHistoryButton {
    background-color: #941408;
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 1vw;
    font-size: large;
}
.clearHistoryButton:hover {
    background-color:white;
    color:#941408;
    transition:0.5s;
    box-shadow:0 0 5px 5px #941408;
}
.selectpicture {
    background-color: #211A1D;
}
.clientsOrderBox {
    background-color: #211A1D;
    margin:2vw;
}
.setBusyButton {
    color: white;
    text-decoration: none;
    background-color: #FF7F27;
    border: solid 2px #FF7F27;
    padding: 1px;
    border-radius: 2px;
}
.setBusyButton:hover {
    background-color:white;
    color:#FF7F27;
    transition:0.5s;
}
.gwiazdki{
    margin-top:7px;
}
