@model GastroFaza.Models.DTO.DishDto
@using GastroFaza.Models.Enum
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Dish</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishType" class="control-label"></label>
                <select asp-for="DishType" class="form-control" asp-items="Html.GetEnumSelectList<DishType>()"></select>
                <span asp-validation-for="DishType" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-control">
                <label asp-for="PathPic" class="control-label"></label>
                <input asp-for="PathPic" class="form-control" />
                <span asp-validation-for="PathPic" class="text-danger"></span>
            </div>

            <div class="btn-group">
                <div class="form-group" style="padding: 10px;">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div style="padding: 10px;">
                    <a href='@Url.Action("SearchMenu", "Dish")' class="btn btn-primary">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
