@using GastroFaza.Models.Enum
@model IEnumerable<Dish>
@{
    ViewData["Title"] = "GetAll";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu</h2>
        </div>





      <div style="float:left">
        <div style="float:left">
           <table class="table table-bordered" style="width:10%">
               <tr>
                   <th>
                       <img src="~/Images" width="150" height="150" asp-append-version="true" />
                @Html.ActionLink("Alcohol", "Search", "Dish", new { dish = DishType.Alcohol }, null);
                </th>
               </tr>
            </table>
        </div>
        <div style="float:left">
            <table class="table table-bordered" style="width:10%">
                 <tr>
                   <th>
                       <img src="~/Images" width="150" height="150" asp-append-version="true" />
                  @Html.ActionLink("Pizza", "Search", "Dish", new { dish = DishType.Pizza }, null);
                   </th>
               </tr>
            </table>
        </div>
        <div style="float:left">
            <table class="table table-bordered" style="width:10%">
                 <tr>
                   <th>
                       <img src="~/Images" width="150" height="150" asp-append-version="true" />
                @Html.ActionLink("Cake", "Search", "Dish", new { dish = DishType.Cake }, null);
                 </th>
               </tr>
            </table>
        </div>
        </div>



    </div>
</div>
