@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor


<ul class="navbar-nav">
    @if (@HttpContextAccessor.HttpContext.Session.GetString("email")!=null)
{
        @if (@HttpContextAccessor.HttpContext.Session.GetString("isWorker") != "true") @* If user is not Worker *@
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Account" asp-action="Profile">Profile</a>
            </li>
        }
        else
        {
                @for (var i = 0; i < Convert.ToInt32(@HttpContextAccessor.HttpContext.Session.GetString("Rating")); i++)
                    {
                        <span class="rating_res fas fa-star">
                        </span>
                    }
                @for (var i = 0; i < 5 - Convert.ToInt32(@HttpContextAccessor.HttpContext.Session.GetString("Rating")); i++)
                    {
                        <span class="rating_empty fas fa-star">
                        </span>
                    }
        }
        <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
         <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
         <a class="nav-link text-light" asp-controller="Account" asp-action="CreateWorkerAccount">Register as Worker</a> @* Remove when manager is added *@
    </li>
}
</ul>
