@model GastroFaza.Models.DiningTable
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
</head>
<body>
    <h2>Edit Table</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Seats" class="control-label"></label>
                    <input asp-for="Seats" class="edit_profile_input" />
                    <span asp-validation-for="Seats" class="text-danger"></span>
                </div>
           
                <div class="btn-group">
                    <div class="form-group" style="padding: 10px;">
                        <input type="submit" value="Save" class="edit_profile_save_button" />
                    </div>
                    <div style="padding: 10px;">
                        <a href='@Url.Action("GetAllOrders", "Table")' class="edit_profile_back_button">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
